$style-color:       #e486a9;
$border-color:      #ecf0f7;
$footer-color:      #aaadaf;
$text-color:        #57595d;
$bg-color:  				#ffffff;
$gray:              #ecf0f7;
$meta-gray:         #cbcfd8;

$link-color:        $style-color;
$link-hover:        darken($link-color, 9%);

@import "changebasecolor";
