$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323438;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #ecf0f7;
$text-color:        #57595d;
$meta-gray:         #cbcfd8;

$tan:               #eceee5;

$green:             #81c797;

$bones-pink:        #f01d4f;
$blue:              #4d94ab;

$link-color:        $bones-pink;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
